{% extends "layout/base.html" %}

{% block title %}Main Page{% endblock %}

{% block style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('main.static', filename='js/jquery.js') }}">\x3C/script>')</script>

    <script type=text/javascript src="{{ url_for('main.static', filename = 'js/fb_sdk.js') }}"></script>
    <script type=text/javascript src="{{ url_for('main.static', filename = 'js/fb_login.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>This is the Main Page</h1>
    <div id="login">
        {% if 'user_id' not in session %}

        {% else %}
            <button onclick="check_login_state();" type="button">Facebook Login</button>
        {% endif %}
    </div>
{% endblock %}