{% extends "admin/layout/base.html" %}

{% block title %}Index{% endblock %}

{% block style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% include 'admin/navbar.html' %}
<div class="container">

<form id="category-form">
    <div id="response"></div>
    <div class="form-group">
        <label for="category">Category Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter Category Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <br>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories:%}
        <tr>
            <td>
                {{ category.name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}
{% block footer %}
<script type="text/javascript">
var csrf_token = "{{ csrf_token() }}";

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});

$('#category-form').submit(function (e) {
    $.ajax({
        type: "POST",
        url: "/admin/add_category/",
        data: $('#category-form').serialize(), // serializes the form's elements.
        success: function(data) {
            $("#response").html(data)
        }
    });
    e.preventDefault(); // block the traditional submission of the form.
});

</script>
{% endblock %}