{% extends "admin/layout/base.html" %}

{% block title %}Index{% endblock %}

{% block style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% include 'admin/navbar.html' %}
<div class="container">

<form id="course-form" enctype=multipart/form-data>
  <div id="response"></div>
  <div class="form-group">
    <label for="title">Course Title</label>
    <input type="text" name="name" class="form-control" placeholder="Enter Course Title">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" name="category">
    {% for c in category: %}
      <option value="{{ c.id }}">
        {{ c.name }}
      </option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="keywords">Keywords</label>
    <input type="text" name="keys" class="form-control" placeholder="Enter keywords">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <input type=file name=file class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

{% endblock %}
{% block footer %}
<script type="text/javascript">
var csrf_token = "{{ csrf_token() }}";

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});


$('#course-form').submit(function (e) {
    $.ajax({
        type: "POST",
        url: "/admin/add_course/",
        data: $('#course-form').serialize(), // serializes the form's elements.
        success: function(data) {
            $("#response").html(data)
        }
    });
    e.preventDefault(); // block the traditional submission of the form.
});
</script>
{% endblock %}